/* Css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Akhir Css Reset */
.navbar {
    margin-bottom: 10px;
    background-color: rgb(184, 15, 10);
}

.navbar-brand:hover {
    color: black !important;
}

.nav {
    margin-top: 5px;
}

.tanya {
    color: white;
    padding: 10px 14px;
    background-color: rgb(255, 40, 0);
    border-radius: 15px;
    position: absolute;
    right: 16px;
    font-size: 15px;
}

.tanya:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

/* .daftar {
    color: white;
    padding: 10px 14px;
    background-color: blue;
    border-radius: 15px;
    position: absolute;
    right: 170px;
    font-size: 15px;
}

.daftar:hover {
    text-decoration: none;
    color: white;
    background-color: black;
} */

.nav-link {
    height: 38px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(112, 2, 2);
    border-radius: 5px;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.materi1 {
    margin-top: 20px;
    background-color: rgb(194, 24, 7);
    color: white;
    width: 1000px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
}

.materi1 h4 {
    text-align: center;
    text-transform: uppercase;
}

.dropdown-item:hover {
    color: white !important;
    background-color: rgb(112, 2, 2) !important;
}

.page-link {
    background-color: rgb(112, 2, 2) !important;
}

.jawab {
    margin-top: 50px !important;
    color: white;
    padding: 10px 14px;
    background-color: rgb(112, 2, 2);
    border-radius: 15px;
    font-size: 15px;
}

.jawab:hover {
    text-decoration: none;
    color: rgb(112, 2, 2);
    background-color: white;
}